body {
    overflow:hidden;
}

.completeWrapper{


}

.navPanel{
    background-color: darkgrey;
    padding: 10px;
}

.contentPanel {
    overflow:scroll;
    padding-left: 15px;
    padding-top: 40px;
    display: flex;
}



.siteBackground{
  background-color: grey;
}


.navButtonSpan{

    background-color: #0a53be;

}















.hiddenSection {
    display: none;
}

.visibleSection {
    display: block;
}

.backgroundClass {
    height: 780px;
    width: 870px;
    background-color: darkgrey;
    border: black;
    border-style: double;
    align-content: center;

}

.bodyStyle{
    background-color: cornflowerblue;

    padding: 55px;
    padding-left: 400px;

}
.listClassExample{
    font-family: "Comic Sans MS";
}

.topWrapper {
    border:  black;
    border-left-color: lightgreen;
    border-right-color: lightgreen;
    border-top-color: lightgreen;
    border-style: solid;

}

.activeLink {
    color: grey;
    text-emphasis: olivedrab;
    font-family: Calibri;
    font-size: xx-large;
    display: inline-block;
    padding-left: 20px;
}

.inactiveLink {
    cursor: pointer;
    color: green;
    font-size: xx-large;
    font-family: Calibri;
    display: inline-block;
    padding-left: 20px;
}

.titleName {
    color: black;
    text-align: left;
    background-color: lightgreen;
    width: 100%;


}

.horiz {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.sectionWrapper{
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;

}
.section {
    background-color: olivedrab;
    border-style: double;
    width: 75%;
    height: 600px;
}
.contactHeader{
    font-size: xxx-large;
}
.contactContents{
    font-size: x-large;

}

.tableData{
    width: 33%;
    height: 33%;
}

.tdImage{
    width: 100%;
    height: 100%;
}

.menu {

    background-color: lightgreen;
}

.shortTextInput{

}

.disabledInput{
    cursor: not-allowed;
    pointer-events: none;
}

.showEmailLink {
    cursor: pointer;
    color: blue;
}

.secondaryHeader{
    font-size: x-large;
}


.profilePic{
    height: 175px;
    width: 175px;
}

/* //////////////////////////////////////////////////////// */
/* Messaging Pages */
.outterBox {
  width: 100%;
  height: 100%;
}

.contact-lib {
  width: 100%;
}

.contact-list {
  width: 100%;
}

.contact-item {
  float:left;
}

.overContactList {
    width: 100%
    float: left;
    border: 10px solid #dddddd;
    height: 100%;
}


.mheader {
  font-size: 40px;

}

.message-box{ /* Message Box in messaging.html*/
  float: right;
  width: 70%;
  height: 100%;
}

.sending {
  width: 50%;
  height: 50%;
  padding-left: 10%;
}

.emailing{
  height: 100%;
  width: 90%;
  padding-left: 10%;

}

.login-group {
  width: 50%;
  size: 50px;

}

.register-form {
  width: 50%;
  size: 50px;

}
.message-display {
  flex: 100%;
  float: left;
  width: 85%;
}
